.bg-acrylic {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 11px 10px 57px -4px rgba(0, 0, 0, 1);
  background-blend-mode: exclusion;
  position: fixed;
  top: 0;
  width: 100%;
  position: relative;
  z-index: 1000;
}
