* {
  word-wrap: break-word;
}

.ex-txt {
  font-size: 2rem;
  word-wrap: break-word;
}

.emp {
  font-size: 1.4rem;
  padding: 0.5rem;
  word-wrap: break-word;
}

.t-break {
  /* max-width: 50%; */
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  object-fit: contain;
}
.card {
  box-shadow: 10px 0px 34px 5px rgba(0, 0, 0, 0.151);
}

.logo {
  height: 5rem;
  margin: auto;
}
